In [1]:
x=input("enter the first number")
y=input("enter the second number")
i=float(x)
j=float(y)
print("the product is",i*j)

enter the first number5
enter the second number2
the product is 10.0

In [3]:
x=input("enter the first number")
y=input("enter the second number")
i=bool(x)
j=bool(y)
print("the product is",i*j)

enter the first number12
enter the second number5
the product is 1

In [6]:
married=bool(input("are you married? [TRUE|FALSE]"))

are you married? [TRUE|FALSE]1

In [7]:
print?(married)

SyntaxError: invalid syntax (<ipython-input-7-f6b51528e75c>, line 1)

In [8]:
print(married)

True

In [9]:
num=input("enter the employee number")
name=input("enter the employee name")
sal=input("enter the salary of employee")
fresher=bool(input("are you married? [TRUE|FALSE]"))
num=int(num)
sal=float(bs)
ts=sal*1.25
print("employee name=",name,"employee num=",num,"employee sal=",sal)

enter the employee number100
enter the employee namerajatha
enter the salary of employee10000
are you married? [TRUE|FALSE]

NameError: name 'bs' is not defined

In [ ]:
num=input("enter the employee number")
name=input("enter the employee name")
sal=input("enter the salary of employee")
fresher=bool(input("employee is fresher or not? [TRUE|FALSE]"))
num=int(num)
sal=float(bs)
ts=sal*1.25
print("employee name=",name,"employee num=",num,"employee sal=",sal)

In [2]:
a,b,c=[int(x) for x in
     input("enter 2 nos").split()]
print("product is:",a+b)

enter 2 nos2 3
product is: 5

In [2]:
a,b,c=[int(x) for x in
     input("enter 2 nos").split(',')]
print("product is:",a+b+c)

enter 2 nos2,3,1
product is: 6

In [3]:
x=eval("10+20+30")
print(x)

60

In [4]:
x=eval("30/4*2")
print(x)

15.0

In [5]:
print(10*"hello")

hellohellohellohellohellohellohellohellohellohello

In [7]:
print("hello\n world")
print("hello\t world")

hello
 world
hello	 world

In [8]:
[1,2,3]

[1, 2, 3]

In [9]:
['hey',1,2,3]

['hey', 1, 2, 3]

In [3]:
my_list=['a','b','c']

In [4]:
my_list.append('d')

In [5]:
print(my_list)

['a', 'b', 'c', 'd']

In [6]:
my_list[0]

'a'

In [7]:
my_list[1:]

['b', 'c', 'd']

In [8]:
my_list[:1]

['a']

In [9]:
my_list='rajatha'

In [10]:
print(my_list)

rajatha

In [12]:
nest=[1,2,3,[4,5,['target']]]

In [13]:
print(nest)

[1, 2, 3, [4, 5, ['target']]]

In [2]:
name=input("enter name:")
if name=="rajatha":
    print("hello rajatha good afternoon")
else:
        print("i dont know your name")

enter name:rajatha
hello rajatha good afternoon

In [ ]:
team=input("enter your fav team")
if team=="RCB":
     printf("its bangalore united")
elif team=="mi":
     print("its mumbai")
else:
    print("playing for unknown team")

In [3]:
for x in range(11):
     print(x)

0
1
2
3
4
5
6
7
8
9
10

In [6]:
for x in range(20):
    if x%2==0:
          print(x)

0
2
4
6
8
10
12
14
16
18

In [7]:
for x in range(10,1,-1):
     print(x)

10
9
8
7
6
5
4
3
2

In [2]:
for x in range(10,1,-2):
     print(x)

10
8
6
4
2

In [3]:
for i in range(4):
    for j in range(4):
        print("i=",i,"j=",j)

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 0 j= 3
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3
i= 3 j= 0
i= 3 j= 1
i= 3 j= 2
i= 3 j= 3

In [4]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end=" ")
        print()

*
*
*
*
*
*
*
*
*
*

In [6]:
for i in range(10):
    if i==7:
        print("lets break after 7")
        break
    print(i)

0
1
2
3
4
5
6
lets break after 7

In [13]:
cart=[100,500,900,300,700]
for x in cart:
    if x>=500:
          print(x,"it should be insured")
else:
                print(x)

500 it should be insured
900 it should be insured
700 it should be insured
700

In [15]:
for i in range(10):
    if i==7:
        print("lets break after 7")
        continue
    print(i)

0
1
2
3
4
5
6
lets break after 7
8
9

In [21]:
dict1={"H":"hydrogen","N":"Nitrogen"}
dict1["N"]

'Nitrogen'