In [1]:
print('hello world')

hello world

In [2]:
2**4

16

In [3]:
4%2

0

In [4]:
(2+3)*(5+5)

50

In [6]:
MITE=100

In [ ]:
print('the value of mite variable is ',MITE)

In [ ]:
#program

In [9]:
'mangalore is a nice place'

'mangalore is a nice place'

In [10]:
'mangalore is a great place to live'

'mangalore is a great place to live'

In [11]:
"i can wrap lots of code into this string"

'i can wrap lots of code into this string'

In [12]:
number=22
name='mite'
print(number+1,name,"is the best place to study")

23 mite is the best place to study

In [17]:
print("my number is {one} and my name is {two}".format(one=number,two=name))

my number is 22 and my name is mite

In [19]:
x=input("enter the first number")
y=input("enter the second number")
i=int(x)
j=int(y)
print("the product is",i*j)

enter the first number10
enter the second number20
the product is 200

In [ ]:
x=input("enter the first number")
y=input("enter the second number")
i=float(x)
j=float(y)
print("the product is",i*j)

In [ ]:
x=input("enter the first number")
y=input("enter the second number")
i=float(x)
j=float(y)
print("the product is",i*j)